<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SocialBook</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link th:href="@{../static/css/blog-home.css}" rel="stylesheet">
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">SocialBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/profile}">Profile
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead bg-primary text-white text-center">
        <br><br>
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-5" th:src="${userInfo.getUserImage()}" alt="Profile img">
            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase mb-0" th:text="${userInfo.getUsername()}"></h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0" th:text="${userBio}"></p><br>
            <div th:if="${myProfile == 'true'}">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#bioModal">
                    Edit bio!
                </button>
            </div>
        </div>
        <br><br>
    </header>

    <!-- Biogram Modal -->
    <div class="modal fade" id="bioModal" tabindex="-1" role="dialog" aria-labelledby="bioModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bioModalLabel">Edit Biography</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/editbio}" method="post">
                        <div class="form-group">
                            <label for="prepareInput">Biography:</label>
                            <input class="form-control" id="prepareInput" placeholder="Enter Biography" th:name="biography">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <div th:if="${myProfile == 'true'}" class="card my-4">
                    <!-- Button trigger AddPost Modal -->
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#addPostModal">Add Post</button>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        <h6 th:text="${'Email: ' + userInfo.getEmail()}"></h6>
                        <div class="form-inline">
                            <h6>Birthday:‏‏‎ ‎</h6>
                            <h6 th:text="${#dates.format(userInfo.getBirtdate(), 'dd-MM-yyyy')}"></h6>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Posts List:</h1>

                <!-- Blog Post -->
                <div class="card mb-4" th:each="post: ${allUserPosts}">
                    <div class="card-body">
                        <div class="form-inline">
                            <img width="50px" th:src="${post.getUser().getUserImage()}" alt="Profile img">
                            <h4 class="card-text" style="margin-left: 10px" th:text="${post.getUser().getUsername()}"></h4>
                        </div>
                        <h2 class="card-title" th:text="${post.getTitle()}"></h2>
                        <p class="card-text" th:text="${post.getContent()}"></p>
                        <div class="form-inline">
                            <h5 style="margin-left: 10px; color: #007bff" th:text="${'👍 ' + post.getLikesCount()}"></h5>
                        </div>
                    </div>
                    <div th:if="${myProfile == 'true'}" class="card-footer text-muted">
                        <a class="btn btn-primary" th:href="@{/like/{site}/{id}(site='profile', id=${post.getId()})}" role="button">Like 👍</a>
                        <div class="float-right" style="margin-top: 6px;" th:text="${'Posted on ' + post.getCreateDate() + ' Category ' + post.getCategory().toString()}"></div>
                    </div>
                    <div th:if="${myProfile != 'true'}" class="card-footer text-muted">
                        <a class="btn btn-primary" th:href="@{/like/{site}/{id}(site='profile?id=' + ${post.getId()}, id=${post.getId()})}" role="button">Like 👍</a>
                        <div class="float-right" style="margin-top: 6px;" th:text="${'Posted on ' + post.getCreateDate() + ' Category ' + post.getCategory().toString()}"></div>
                    </div>
                </div>


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- AddPost Modal -->
    <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="addPostModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPostModalLabel">Add Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/addpost/{site}(site='profile')}" th:object="${newPost}" method="post">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title" placeholder="Title" th:field="*{title}" required>
                        </div>
                        <div class="form-group">
                            <label for="categorySelect">Category:</label>
                            <select class="form-control" id="categorySelect" th:field="*{category}">
                                <option th:value="DISCUSSION">DISCUSSION</option>
                                <option th:value="SUGGESTION">SUGGESTION</option>
                                <option th:value="MEDIA">MEDIA</option>
                                <option th:value="ARTISTIC">ARTISTIC</option>
                                <option th:value="HUMOR">HUMOR</option>
                                <option th:value="QUESTION">QUESTION</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contentTextarea">Content:</label>
                            <textarea class="form-control" id="contentTextarea" placeholder="Content" rows="3" th:field="*{content}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Post!</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
